body {
  /* font-family: "Arvo", serif; */
  font-family: "Montserrat", sans-serif;
}

/* #skills {
    padding: 200px 0 !important; 
} */

/* use !important to overwrite premade in bootstrap (py-5) */

.height {
  min-height: 100vh;
}

.bg-purple {
  background-color: darkslateblue;
}

.title-underline {
  height: 10px;
  width: 200px;
  margin: 0 auto;
  background: green; /* need !important to overwite bootstrap preset */
}

.height-80 {
  min-height: 80vh;
}

.about-picture {
  background: url("../img/project6.jpg");
  /* background-size: 130%; 
  background-position: 100% 20%;  */
  background-size: cover;
  background-position: center;

  /* try to fix bigscreen image fail with media query
  background-size: 50%;
  background-position: left;  */

  background-repeat: no-repeat;
  /* fixed attachment for parellax effect */
  background-attachment: fixed;
  overflow: hidden;
}

.bg-bone {
  background-color: #ccc7b9 !important;
}
.bg-nyanza {
  background-color: #eaf9d9 !important;
}
.bg-dutch-white {
  background-color: #e2d4ba !important;
}
.bg-blast {
  background-color: #af7a6d !important;
}
.bg-catawba {
  background-color: #653239 !important;
}

#filler,
#progress {
  /* background: url(../img/filler.jpg) center/cover no-repeat fixed; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url(../img/filler.jpg);
  /* background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.99), transparent),
    url(../img/filler.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* #filler p {
  font-size: 1.5rem;
  font-weight: 700;
} */

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url(../img/rodion-kutsaev-0VGG7cqTwCo-unsplash.jpg);
  /* background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.99), transparent),
    url(../img/rodion-kutsaev-0VGG7cqTwCo-unsplash.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
